<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="io.khasang.incubator.SpringTrafficLights"/>

    <bean id="lighting1" class="io.khasang.incubator.SpringTrafficLights.model.Lighting.Lighting">
        <constructor-arg ref="redLight"/>
        <constructor-arg value="0"/>
        <constructor-arg value="9"/>
    </bean>

    <bean id="lighting2" class="io.khasang.incubator.SpringTrafficLights.model.Lighting.Lighting">
        <constructor-arg ref="yellowLight"/>
        <constructor-arg value="10"/>
        <constructor-arg value="14"/>
    </bean>

    <bean id="lighting3" class="io.khasang.incubator.SpringTrafficLights.model.Lighting.Lighting">
        <constructor-arg ref="yellowBlinkingLight"/>
        <constructor-arg value="15"/>
        <constructor-arg value="19"/>
    </bean>

    <bean id="lighting4" class="io.khasang.incubator.SpringTrafficLights.model.Lighting.Lighting">
        <constructor-arg ref="greenLight"/>
        <constructor-arg value="20"/>
        <constructor-arg value="29"/>
    </bean>

    <bean id="lightingProgram"
          class="io.khasang.incubator.SpringTrafficLights.model.Lighting.SequentialLightingProgram">
        <constructor-arg>
            <list>
                <ref bean="lighting1"/>
                <ref bean="lighting2"/>
                <ref bean="lighting3"/>
                <ref bean="lighting4"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="trafficLights"
          class="io.khasang.incubator.SpringTrafficLights.model.TrafficLights.SimpleTrafficLights">
        <constructor-arg value="TrafficLights#1"/>
        <constructor-arg ref="lightingProgram"/>
    </bean>
</beans>